@import url('https://fonts.googleapis.com/css?family=Rubik|Roboto|Source+Serif+Pro|Raleway|Lora');

/* Pagina Incial */

body, html {
	overflow-x: hidden;
}

body {
	max-height: 100%;
	margin-top: 30px;
}

/* Cabeçalho  */

.site-header-new {
	  position: relative;
    color: #fff;
    background-size: cover;
}

/* Cabeçalho Esquerdo  */

.site-title {
	font-family: 'Rubik', sans-serif;
	font-size: 1.5rem !important;
	font-weight: 300;
}

.site-description {
	font-family: 'Raleway', 'sans-serif';
	font-size: 4rem !important;
	color: white;
	opacity: 1 !important;
}

.header-left {
		background: #090a0b no-repeat 50%;
		background-size: cover;
}

.header-left > * {
	margin: 0 20px;
	padding: 40px 0;
	margin-bottom: 0;
}

/* Cabeçalho Direito */

.header-right {
	padding: 10px 20px 40px 20px;
	background-color: #1e272e;
}

.header-right h3 {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

.header-right p {
	margin: 25px 0;
	font-family: 'Roboto', sans-serif;
	color: #bdc3c7;
}

@media (min-width: 900px) {
	/* Cabeçalho Desktop */

	.site-header {
		padding: 0;
	}

	.divider-header {
		display: flex;
	}

	.header-left {
		width: 70%;
	}

	.header-left > * {
		margin: 30px;
	}

	.header-right {
		width: 30%;
		padding: 50px;
	}

	.post-feed {
		margin-top: 0 !important;
		padding-top: 40px !important;
	}
}

/* Floating Header */

.floating-header {
	z-index: 1001;
}

/* Search */

@media (min-width: 900px) {
	body {
		margin-top: 60px;
	}

	.morphsearch-form {
		height: 40px !important;
	}

	.twitter-typeahead .tt-input {
		margin: 10px !important;
		font-size: 1.8rem;
	}
}

.morphsearch::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.morphsearch {
	width: 100%;
	background: #00cec9;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	visibility: visible;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 10px;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition-property: min-height, width, top, right, background;
	transition-property: min-height, width, top, right, background;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open {
	width: 100%;
	min-height: 100%;
	top: 0px;
	right: 0px;
	background: #2f3542;
}

.morphsearch-form {
	width: 100%;
	height: 20px;
	margin: 10px auto;
	position: relative;
	-webkit-transition-property: width, height, -webkit-transform;
	transition-property: width, height, transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open .morphsearch-form {
	width: 80%;
	height: 160px;
	-webkit-transform: translate3d(0,3em,0);
	transform: translate3d(0,3em,0);
}

.morphsearch-input {
	width: 100%;
	height: 100%;
	padding: 0 10% 0 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 0.8em;
	color: #ec5a62;
	-webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
	transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.morphsearch-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.morphsearch.hideInput .morphsearch-input {
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
	font-size: 5em;
}

/* Placeholder */
.morphsearch-input::-webkit-input-placeholder {
	color: white;
}

.morphsearch-input:-moz-placeholder {
	color: white;
}

.morphsearch-input::-moz-placeholder {
	color: white;
}

.morphsearch-input:-ms-input-placeholder {
	color: white;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
	outline: none;
}

.morphsearch-submit {
	display: none;
}

.morphsearch.open .morphsearch-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.morphsearch.open .morphsearch-close {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.2;
	background: white;
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
	opacity: 1;
}

.morphsearch-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.morphsearch-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.morphsearch-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.morphsearch.open .morphsearch-content {
	opacity: 1;
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open ~ .overlay {
	opacity: 1;
}

@media screen and (max-width: 53.125em) {
	.morphsearch-input {
		padding: 0 25% 0 10px;
	}
	.morphsearch.open .morphsearch-input {
		font-size: 2em;
	}

}

.twitter-typeahead {
	margin-left: 10px;
}

.twitter-typeahead .tt-input {
	margin: 2px;
	font-size: 1.6rem;
	font-weight: 100;
	font-family: 'Rubik', sans-serif;
}

.empty-message h3, .search-result h3 {
	margin-left: 20px;
	font-weight: 100;
	font-family: 'Rubik', sans-serif;
}

.empty-message h3 {
	color: white;
}

.search-result h3 {
	margin: 0.5em 0 0.5em;
	color: #bdc3c7;
}

@media (min-width: 768px) {
	.empty-message h3, .search-result h3 {
		font-size: 4rem;
	}

	.empty-message h3, .search-result h3 {
		margin-left: 25px;
	}
} 

/* Menu */

.menu {
		background: #FFF;
		border-radius: 50%;
		bottom: 25px;
		box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
		cursor: pointer;
		height: 60px;
		position: fixed;
		right: 25px;
		transition: all 1.1s cubic-bezier(.19,1,.22,1);
		width: 60px;
		z-index: 1002;
}

.menu:hover {
		transform: scale(1.2);
}

.hamburger {
		position: relative;
		top: 29px;
		left: 15px;
		width: 30px;
		height: 2px;
		background: #000;
		display: block;
		transform-origin: center;
		transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
		background: #000;
		content: "";
		display: block;
		transition: .5s ease-in-out;
		position: absolute;
		width: 100%;
		height: 100%;
}

.hamburger:before {
		top: -10px;
}

.hamburger:after {
		bottom: -10px;
}

input#navbar {
		display: none;
}

input#navbar:checked ~ label .menu {
		box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
}

input#navbar:checked ~ label .hamburger {
		transform: rotate(45deg);
}

input#navbar:checked ~ label .hamburger:after {
		transform: rotate(90deg);
		bottom: 0;
}

input#navbar:checked ~ label .hamburger:before {
		transform: rotate(90deg);
		top: 0;
}

input#navbar:checked ~ ul {
		opacity: 1;
		visibility: visible;
}

.nav {
		overflow: hidden;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		list-style: none;
		font-size: 25px;
		opacity: 0;
		visibility: hidden;
		transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
		z-index: 1003;
		display: flex;
		flex-direction: column;
		text-align: center;
}

@media (min-width: 650px) {
	.nav {
		font-size: 45px;
	}
}

.nav li a {
		color: #00cec9;
		display: block;
		margin-bottom: 1em;
		text-decoration: none;
}

/* Subscribe - RSS */

.subscribe-email {
	font-size: 1.5rem;
	border-radius: 0;
  border: 1px solid #3498db;
}

.form-button {
	width: 100%;
  display: flex;
}

.form-group {
	display: flex;
}

.subscribe-button {
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  border-radius: 0;
  color: #bdc3c7;
}

.subscribe-form-title {
	font-family: 'Rubik', sans-serif;
}

.form-group button[type=submit] {
	width: 20%;
	margin: 0;
	line-height: 0;
	border-radius: 0;
	padding: 10px;
	cursor: pointer;
	background: #3498db;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	box-shadow: none;
	transition: all 0.3s ease-in-out;
}

.form-group button[type=submit]:hover {
	background: #575fcf;
	color: white;
	transition: all 0.3s ease-in-out;
}

.subscribe-form {
	font-weight: 100;
	background: #ecf0f1;
}

.subscribe-email {
	padding: 8px;
	font-family: 'Raleway', sans-serif;
}

/* Subscribe Page  */

.back-button {
	background: transparent;
	border: 1px solid #222;
	color: #222;
	padding: 5px 10px;
	border-radius: 2px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.subscribe-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.subscribe-page h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 2.4rem;
}

.subscribe-page p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.3rem;
}

/* Cards  */

.post-card {
  border-radius: 0;
  border-bottom: 4px solid white;
	transition: all 0.3s ease-in-out;
}

.post-card:hover {
	border-bottom: 4px solid #3498db;
  transition: all 0.3s ease-in-out;
  transform: translate3D(0, -1px, 0) scale(1);
}

.post-card-content {
	min-width: 100%;
}

.post-card-title {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 2.4rem;
}

.post-card-excerpt {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}

/* Posts */

.floating-header,
.floating-header-logo a,
.floating-header-title {
	font-family: 'Rubik', sans-serif;
	font-weight: 100;
	color: #3498db;
}

.floating-header-logo a {
	color: #7f8c8d;
}

.floating-header-logo {
	padding-right: 1px;
}

.post-full-title {
	font-family: 'Rubik', sans-serif;
	margin-top: 20px;
}

.post-full-content {
  font-family: 'Source Serif Pro', serif;
}

/* Post Author */

.author-card-name {
	font-family: 'Rubik', sans-serif;
}

.author-card-content p {
	font-family: 'Roboto', sans-serif;
}