@import url('https://fonts.googleapis.com/css?family=Rubik|Roboto|Source+Serif+Pro|Raleway');

/* Pagina Incial */

/* Cabeçalho  */

.site-header-new {
	  position: relative;
    color: #fff;
    background-size: cover;
}

/* Cabeçalho Esquerdo  */

.site-title {
	font-family: 'Rubik', sans-serif;
	font-size: 1.5rem !important;
	font-weight: 300;
}

.site-description {
	font-family: 'Raleway', 'sans-serif';
	font-size: 4rem !important;
	color: white;
	opacity: 1 !important;
}

.header-left {
		background: #090a0b no-repeat 50%;
		background-size: cover;
}

.header-left > * {
	margin: 0 20px;
	padding: 40px 0;
	margin-bottom: 0;
}

/* Cabeçalho Direito */

.header-right {
	padding: 10px 20px 40px 20px;
	background-color: #1e272e;
}

.header-right h3 {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

.header-right p {
	margin: 25px 0;
	font-family: 'Roboto', sans-serif;
	color: #bdc3c7;
}

@media (min-width: 900px) {
	/* Cabeçalho Desktop */

	.site-header {
		padding: 0;
	}

	.divider-header {
		display: flex;
	}

	.header-left {
		width: 70%;
	}

	.header-left > * {
		margin: 30px;
	}

	.header-right {
		width: 30%;
		padding: 50px;
	}

	.post-feed {
		margin-top: 0 !important;
		padding-top: 40px !important;
	}
}

/* Menu  */

.site-nav-logo, .site-nav-center {
	font-family: 'Rubik', sans-serif;
	font-size: 1.6rem !important;
	font-weight: 300;
	color: #3498db;
}

.site-nav, .site-nav-center {
	border-bottom: 2px solid #0fbcf9;
	height: 60px;
	background: white;
}

.site-nav-logo {
	margin-left: 20px;
}

.site-nav {
	top: 0px !important;
	display: flex;
}

.site-nav-left {
	padding: 10px;
}

.nav {
	margin: 0;
}

.nav li a {
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	color: #1e272e;
}

/* @media (min-width: 900px) {
	.site-nav-right {
		display: none;
	}
} */

/* Subscribe - RSS */

.subscribe-email {
	font-size: 1.5rem;
	border-radius: 0;
  border: 1px solid #3498db;
}

.form-button {
	width: 100%;
  display: flex;
}

.form-group {
	display: flex;
}

.subscribe-button {
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  border-radius: 0;
  color: #bdc3c7;
}

.subscribe-form-title {
	font-family: 'Rubik', sans-serif;
}

button[type=submit] {
	margin: 0;
	line-height: 0;
	border-radius: 0;
	padding: 10px;
	cursor: pointer;
	background: #3498db;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	box-shadow: none;
	transition: all 0.3s ease-in-out;
}

button[type=submit]:hover {
	background: #575fcf;
	color: white;
	transition: all 0.3s ease-in-out;
}

.subscribe-form {
	font-weight: 100;
	background: #ecf0f1;
}

.subscribe-email {
	padding: 8px;
}

/* Cards  */

.post-card {
  border-radius: 0;
  border-bottom: 4px solid white;
	transition: all 0.3s ease-in-out;
}

.post-card:hover {
	border-bottom: 4px solid #3498db;
  transition: all 0.3s ease-in-out;
  transform: translate3D(0, -1px, 0) scale(1);
}

.post-card-content {
	min-width: 100%;
}

.post-card-title {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 2.4rem;
}

.post-card-excerpt {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}

/* Posts */

.floating-header,
.floating-header-logo a,
.floating-header-title {
	font-family: 'Rubik', sans-serif;
	font-weight: 100;
	color: #3498db;
}

.floating-header-logo a {
	color: #7f8c8d;
}

.floating-header-logo {
	padding-right: 1px;
}

.post-full-title {
	font-family: 'Rubik', sans-serif;
	margin-top: 20px;
}

.post-full-content {
  font-family: 'Source Serif Pro', serif;
}

/* Post Author */

.author-card-name {
	font-family: 'Rubik', sans-serif;
}

.author-card-content p {
	font-family: 'Roboto', sans-serif;
}